<!doctype html>
<html lang="ru" ng-app="App">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devicer</title>
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!--<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />-->
</head>
<body class="container">

  <div class="header span12 row page-header">
    <h1 class="pull-left">Учет оборудования</h1>
    <form class="form-search pull-right">
      <span class="icon-search"></span>
      <input type="text" class="input-medium search-query" ng-model="query">
    </form>
  </div>

  <div class="row span12 tabbable tabs-left">
    <ul class="locationMenu nav nav-tabs" ng-controller="LocationsListCtrl">
      <li class="nav-header">Локация ({{locations.length}})</li>
      <li ng-repeat="location in locations" ng-class="getClass($index)"><a href="#/devices/{{location.id}}" ng-click="toggleActive($index)">{{location.title}} ({{location.address}})</a></li>
    </ul>

    <div><strong>Фильтр: </strong><em>{{query}}</em></div>
    <div class="tab-content" ng-view></div>
  </div>

  <div class="footer row span12">&copy; 2012</div>


  <script src="lib/angular/angular.min.js" ng:autobind></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
