<!doctype html>
<html lang="ru" ng-app="App">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devicer</title>
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/angular-ui.min.css" />
  <!--<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />-->
</head>
<body class="container">

  <div ui-modal class="fade" ng-model="addLocationModal">
    <input type="text" />
    <input type="text" />
    <button data-dismiss="modal">Отмена</button>
  </div>

  <div class="header span12 row page-header">
    <h1 class="pull-left">Учет оборудования</h1>
    <form class="form-search pull-right">
      <span class="icon-search"></span>
      <input type="text" class="input-medium search-query" ng-model="query">
    </form>
  </div>

  <div class="row span12 tabbable tabs-left">    
    <ul class="locationMenu nav nav-tabs" ng-controller="LocationsListCtrl">
      <li class="nav-header">Локация ({{locations.length}})</li>
      <li ng-repeat="location in locations" ng-class="getClass($index)"><a href="#/devices/{{location.id}}" ng-click="toggleActive($index)">{{location.title}} ({{location.address}})</a></li>
      <li><button class="btn btn-success" type="button" ng-click="addLocationModal=true">Добавить локацию</button></li>
    </ul>
    
    <div class="tab-content" ng-view></div>
  </div>

  <div class="footer row span12">&copy; 2012</div>



  <script src="lib/jquery/jquery-1.8.2.min.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/angular/angular.min.js" ng:autobind></script>
  <script src="lib/angular-ui/angular-ui.min.js"></script>

  <!--[if lte IE 8]>
      <script src="lib/angular-ui/angular-ui-ieshiv.js"></script>
  <![endif]-->

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
